<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID"
	version="2.5">
	<display-name>ella</display-name>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	
	<listener>
		<listener-class>com.adintellig.ella.action.SessionListener</listener-class>	
	</listener>

	<filter>
		<filter-name>loginFilter</filter-name>
		<filter-class>com.adintellig.ella.action.LoginFilter</filter-class>
		<init-param>
			<param-name>LOGIN_URI</param-name>
			<param-value>/login.jsp</param-value>		
		</init-param>
		<init-param>
			<param-name>ROOT_URI</param-name>
			<param-value>/</param-value>		
		</init-param>
		<init-param>
			<param-name>LOGIN_SERVLET</param-name>
			<param-value>/login.do</param-value>		
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>init</servlet-name>
		<servlet-class>com.adintellig.ella.action.InitServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>init</servlet-name>
		<url-pattern>/init.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>login</servlet-name>
		<servlet-class>com.adintellig.ella.action.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/login.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ajax</servlet-name>
		<servlet-class>com.adintellig.ella.action.AjaxServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ajax</servlet-name>
		<url-pattern>/ajax.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>tsv</servlet-name>
		<servlet-class>com.adintellig.ella.action.TsvServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>tsv</servlet-name>
		<url-pattern>/tsv.do</url-pattern>
	</servlet-mapping>

	<!--session timeout(minutes)-->
	<session-config>
		<session-timeout>120</session-timeout>
	</session-config>

</web-app>